
@{
    var Sys = (Models.sys_data)ViewData["Sys"];

    var Adv = (List<Models.adv_data>)ViewData["Adv"];
    var News = (List<Models.news_data>)ViewData["News"];
    var Course = (List<Models.course_data>)ViewData["Course"]; //課程
    var Author = (List<Models.author_data>)ViewData["Author"]; //師資
    var FD = (List<Models.adv_data>)ViewData["FD"]; //4D
    var SD = (List<Models.adv_data>)ViewData["SD"]; //環境
}

<style>
    .yaimg:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-color: black;
        opacity: 0.2;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    .footer-contact-icon-text {
        line-height: 80px;
    }
</style>


<style>
    .zzzzzz:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-color: white;
        opacity: 0.4;
        z-index: 1;
        width: 100%;
        height: 100%;
    }


    .aaa {
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        /*background-image: url("/Content/images//adv/2019111900401903159.jpg");*/
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
    }
</style>

<div class="content-container no-padding">
    <div class="container-full" style="width:100%">

        <div class="row">
            <div class="col-md-12 main-wrap">
                <div class="main-content">

                    <!--siler-->
                    <div class="row">
                        <div id="revslider">

                            <ul>

                                @if (Adv != null)
                                {
                                    foreach (var item in Adv)
                                    {
                                        var y = 330;
                                        y = string.IsNullOrWhiteSpace(item.cont) ? 330 : 330;

                                        <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="off" data-title="Intro">

                                            <div class="aaa zzzzzz tp-caption " style="background-image:url(@(item.img[0]))"
                                                 data-speed="800"
                                                 data-easing="Power3.easeInOut">
                                            </div>

                                            @Html.Raw(item.cont)

                                
                                            @{ var B = (item.title ?? "").Split(new string[] { "\n" }, StringSplitOptions.None); }
                                            @if (B.Count() > 0)
                                            {
                                                foreach (var item2 in B)
                                                {
                                                    <div class="tp-caption blackmontserrat40 tp-resizeme rs-parallaxlevel-0"
                                                         style="width:100%;text-align:center;color:#666666;font-weight:200;"
                                                         data-y="@(y)"
                                                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                         data-speed="800"
                                                         data-start="1800"
                                                         @*data-transition="slideleft"*@
                                                         data-easing="Power3.easeInOut"
                                                         data-splitin="none"
                                                         data-splitout="none"
                                                         data-elementdelay="0.1"
                                                         data-endelementdelay="0.1">
                                                        @(item2)

                                                    </div>

                                                    y += 50;
                                                }

                                            }

                                            <div class="tp-caption blackmontserrat40  tp-resizeme rs-parallaxlevel-0"
                                                 style="width:100%; text-align:center;font-weight:normal;font-weight:300;"
                                                 data-y="@(y)"
                                                 data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                 data-speed="3000"
                                                 data-start="2200"
                                                 @*data-transition="slideleft"*@
                                                 data-easing="Back.easeOut"
                                                 data-splitin="none"
                                                 data-splitout="none"
                                                 data-elementdelay="0.1"
                                                 data-endelementdelay="0.1">
                                                <button href="javascript:void(0);" class="btn btinput3 btn-style-round" style="background-color:inherit;">
                                                    立即體驗
                                                </button>
                                            </div>


                                            @*@{ var A = (item.info ?? "").Split(new string[] { "\n" }, StringSplitOptions.None); }
                                                @if (A.Count() > 0)
                                                {

                                                    foreach (var item2 in A)
                                                    {

                                                        <div class="tp-caption blackmontserrat40  tp-resizeme rs-parallaxlevel-0"
                                                             style="width:100%; text-align:center;font-weight:normal;font-weight:300;"
                                                             data-y="@(y)"
                                                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                                             data-speed="3000"
                                                             data-start="2200"
                                                             data-easing="Back.easeOut"
                                                             data-splitin="none"
                                                             data-splitout="none"
                                                             data-elementdelay="0.1"
                                                             data-endelementdelay="0.1">
                                                            @(item2)
                                                        </div>

                                                        y += 60;
                                                    }


                                                }*@


                                        </li>
                                    }
                                }




                                @*<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="off" data-title="Intro">
                                        <img data-lazyload="/images/class/home1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                        <div class="tp-caption lft customout rs-parallaxlevel-1" data-x="400" data-y="0" data-customout=""  data-speed="3000" data-start="1400">
                                            <img src="/images/banner/dummy.png" alt="" data-lazyload="/images/banner/logo.png">
                                        </div>
                                        <div class="tp-caption blackmontserrat60 skewfromleftshort tp-resizeme rs-parallaxlevel-0" data-x="210" data-y="300" data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">
                                            全新頂級精品私人會館
                                        </div>
                                        <div class="tp-caption blackmontserrat40 customin tp-resizeme rs-parallaxlevel-0" data-x="230" data-y="400" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2150" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">
                                            回歸初心，啟動身心靈的對話空間
                                        </div>

                                        <div class="tp-caption blackthin342 customin tp-resizeme rs-parallaxlevel-0" data-x="360" data-y="500" data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;" data-speed="500" data-start="2350" data-easing="Back.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1">
                                            嶄新的瑜珈旅程即將開展
                                        </div>

                                    </li>*@

                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>

                    @*最新消息*@
                    <div class="container">
                        <div class="row">
                            <div class="column col-md-12 text-center">
                                <h2>最新消息</h2>
                                <div class="text-block">
                                    <p class="index-p">
                                        NEWS
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row section-background-bottom1 section-welcome">
                        <div class="column col-md-12">

                            <div class="container">
                                <div class="row row-custom-padding welcome-items">

                                    @if (News != null)
                                    {
                                        foreach (var item in News)
                                        {
                                            <div class="column col-md-4 col-sm-4" data-fade="1" data-fade-animation="in">
                                                <a href="@(item.URL)">
                                                    <div class="single-image image-center">
                                                        <img width="500" height="300" src="@(item.img[0])" alt="service-1" />
                                                        <div class="overlay"><font>READ MORE</font></div>
                                                    </div>
                                                    <div class="box box-custom-margin-padding">
                                                        <p>
                                                            @(item.Group.title)
                                                        </p>
                                                        <h4>@(item.title)</h4>
                                                        <div class="text-block text-right">

                                                            <p class="date">                                                             
                                                                @(NW.getDate(item.start_date, "MM/dd/yyyy"))                                                            
                                                            </p>

                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12 text-center">
                                        <div class="text-block">
                                            <p>
                                                <button class="btn btinput btn-style-round " type="button" onclick="window.location.href='@(Url.Action("List", "News"))'">
                                                    <span>MORE</span>
                                                </button>
                                            </p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    @*情境式瑜珈*@
                    <div class="row">
                        <div class="column col-md-12">
                            <div id="revslider" data-autorun="yes" data-duration="10000" class="carousel slide fade dhslider dhslider-custom " data-height="970">
                                <div class="dhslider-loader">
                                    <div class="fade-loading">
                                        <i></i><i></i><i></i><i></i>
                                    </div>
                                </div>
                                <div class="carousel-inner dhslider-wrap">
                                    <div class="item slider-item active">
                                        <div class="slide-bg " style="background-image:url(/images/4d/01.jpg);"></div>
                                        <div class="slider-overlay"></div>
                                        <div class="slider-caption caption-align-right" style="top: 30%;">
                                            <div class="slider-caption-wrap parallax-content">
                                                <h2 class="slider-heading-text text-center" style="color: white;">
                                                    4D 情境式瑜珈
                                                </h2>
                                                <div class="slider-caption-text  text-center" style="color: white;">

                                                    全台唯一的4D情境式瑜珈設<br />
                                                    備，啟發五感， 探索身心靈
                                                </div>
                                                <div class="slider-buttons text-center">

                                                    @*<a href="@(Url.Action("Contact", "Home"))" class="btn btinput3 btn-style-round">
                                                            立即預約體驗
                                                        </a>*@
                                                    <a href="@(Url.Action("FD", "Home"))" class="btn btinput3 btn-style-round">
                                                        立即體驗
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                @*<ol class="carousel-indicators parallax-content">
                                        <li data-target="#revslider" data-slide-to="0" class="active"></li>
                                        <li data-target="#revslider" data-slide-to="1"></li>
                                    </ol>
                                    <a class="left carousel-control" href="#revslider" data-slide="prev">
                                        <i class="fa fa-angle-left carousel-icon-prev"></i>
                                    </a>
                                    <a class="right carousel-control" href="#revslider" data-slide="next">
                                        <i class="fa fa-angle-right carousel-icon-next"></i>
                                    </a>*@
                            </div>
                        </div>
                    </div>

                    <a href="@(Url.Action("Course", "Home"))">
                        <div class="row section-newsletters yaimg" style="background-image:url(/images/class/pg01.jpg);background-position: center top;">

                            <div class="container b30">
                                <div class="row">
                                    <div class="column col-md-12 text-left">
                                        <div class="">
                                            <span class="h2" style="font-weight:normal;color:#C1B4A3">多樣化的</span>
                                            <span class="h2" style="font-weight:normal;color:#FDFDF6">課程選擇</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container b30 hidden-xs">

                                <table class="table table-bordered text-center  indexclasstext">
                                    <thead>
                                        <tr>
                                            <td>
                                                <div class="classup">靜態瑜珈<br />Grounding<hr /></div>

                                                <div class="classup">
                                                    <p>哈達瑜珈</p>
                                                    <p>哈達基礎</p>
                                                    <p>和緩瑜珈</p>
                                                    <p>陰瑜珈</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="classup">動態瑜珈<br />Dynamic <hr /></div>

                                                <div class="classup">
                                                    <p>阿斯坦加瑜珈</p>
                                                    <p>Ashtanga Mysore  Style</p>
                                                    <p>哈達瑜珈</p>
                                                    <p>流暢瑜珈入門</p>
                                                    <p>流暢瑜珈</p>
                                                    <p>Yoga Tone</p>
                                                    <p>核心瑜珈</p>
                                                    <p>寰宇瑜珈</p>
                                                </div>

                                            </td>
                                            <td>
                                                <div class="classup">高溫瑜珈<br />Hot</div>
                                                <hr />
                                                <div class="classup">
                                                    <p>Hot</p>
                                                    <p>熱動瑜珈</p>
                                                    <p>溫和伸展</p>

                                                </div>

                                            </td>
                                            <td>
                                                <div class="classup">特色瑜珈<br />Specialised</div>
                                                <hr />
                                                <div class="classup">
                                                    <p>空中瑜珈</p>
                                                    <p>瑜珈輪</p>
                                                    <p>滾筒綜合訓練</p>
                                                    <p>核心球訓練</p>
                                                    <p>OXIGENO</p>
                                                    <p>皮拉提斯</p>
                                                    <p>手平衡訓練</p>
                                                    <p>功能化訓練</p>
                                                    <p>108大拜式能量棒</p>
                                                    <p>太極瑜珈能量棒</p>
                                                </div>

                                            </td>
                                            <td>
                                                <div class="classup">修復<br />Healing</div>
                                                <hr />
                                                <div class="classup">
                                                    <p>肌筋膜放鬆</p>
                                                    <p>芳療修復瑜珈</p>
                                                    <p>艾楊格瑜珈</p>
                                                    <p>艾楊格基礎</p>
                                                    <p>艾楊格壁繩</p>
                                                    <p>椅子瑜珈</p>
                                                </div>

                                            </td>
                                        </tr>
                                    </thead>

                                </table>

                            </div>

                            @*phone*@
                            <div class="container b30 hidden-lg">


                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">Hot Yoga</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">Hot Flow</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">Hot Gental</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">Warm Stretch</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">哈達瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">流暢瑜珈</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">火箭瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">正位瑜珈</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">太極瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">核心瑜珈</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">和緩瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">艾揚格瑜珈</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">阿斯坦加瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">瑜珈雕塑</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">身心靈平衡</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">陰瑜珈</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">修復瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">瑜珈輪</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">空中瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">壁繩瑜珈</div>
                                </div>

                            </div>
                        </div>
                    </a>


                    <div class="row section-team">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2 class="text-center">課程介紹</h2>
                                        <div class="text-block text-center">
                                            <p class="index-p">
                                                PROGRAMS
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-md-12 main-wrap">
                                    <div class="main-content ">
                                        <div class="caroufredsel " data-scroll-fx="scroll" data-speed="3000" data-easing="swing" data-scroll-item="1" data-visible-min="1" data-visible-max="@(Course.Count())" data-responsive="1" data-infinite="1" data-autoplay="1">

                                            <div class="caroufredsel-wrap">
                                                <ul class="caroufredsel-items row">

                                                    @if (Course != null)
                                                    {
                                                        foreach (var item in Course)
                                                        {
                                                            <li class="caroufredsel-item col-md-4 col-sm-6">
                                                                <a href="@(item.URL)">
                                                                    <div class="team-member1 team-member-below">
                                                                        <div class="member-avatar">
                                                                            <img class="img-circle" src="@(item.img[0])" width="150" height="150" alt="team-member-3" />
                                                                            <div class="overlay"><font>@(item.title)</font></div>
                                                                        </div>
                                                                        <div class="class-name">
                                                                            <h4>@(item.title)</h4>
                                                                        </div>

                                                                    </div>
                                                                </a>

                                                            </li>
                                                        }
                                                    }

                                                </ul>

                                                @*<a href="#" class="caroufredsel-prev"></a>
                                                    <a href="#" class="caroufredsel-next"></a>*@
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12 text-center">
                                        <div class="text-block">
                                            <p>
                                                <button class="btn btinput btn-style-round " type="button" onclick="window.location.href='@(Url.Action("List", "Course"))'">
                                                    <span>MORE</span>
                                                </button>
                                            </p>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row section-team">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2 class="text-center">專業師資團隊</h2>
                                        <div class="text-block text-center">
                                            <p class="index-p">
                                                OUR INSTRUCTORS
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-md-12 main-wrap">
                                    <div class="main-content ">
                                        <div class="caroufredsel " data-scroll-fx="scroll" data-speed="3000" data-easing="swing" data-scroll-item="1" data-visible-min="1" data-visible-max="@(Author.Count())" data-responsive="1" data-infinite="1" data-autoplay="1">

                                            <div class="caroufredsel-wrap">
                                                <ul class="caroufredsel-items row">

                                                    @if (Author != null)
                                                    {
                                                        foreach (var item in Author)
                                                        {
                                                            <li class="caroufredsel-item col-md-3 col-sm-6">
                                                                <a href="@(item.URL)">
                                                                    <div class="team-member team-member-below">
                                                                        <div class="member-avatar">
                                                                            <img src="@(item.img[0])" width="150" height="150" alt="@(item.title)" />
                                                                            <div class="overlay"><font>READ MORE</font></div>
                                                                        </div>

                                                                    </div>
                                                                </a>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                                @*<a href="#" class="caroufredsel-prev"></a>
                                                    <a href="#" class="caroufredsel-next"></a>*@
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12 text-center">
                                        <div class="text-block">
                                            <p>
                                                <button class="btn btinput btn-style-round" type="button" onclick="window.location.href='@(Url.Action("List", "Author"))'">
                                                    <span>MORE</span>
                                                </button>
                                            </p>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="column col-md-12">

                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2 class="text-center">會館環境</h2>
                                        <div class="text-block text-center">
                                            @*<p class="index-p">
                                                    全台唯一 4D情境式瑜珈 啟發五感 探索身心靈
                                                </p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="caroufredsel product-images-slider" data-speed="3000" data-visible="1" data-responsive="1" data-infinite="1" data-autoplay="1">*@
                            <div id="revslider" data-autorun="yes" data-duration="10000" class="carousel slide fade dhslider dhslider-custom " data-height="970">
                                <div class="dhslider-loader">
                                    <div class="fade-loading">
                                        <i></i><i></i><i></i><i></i>
                                    </div>
                                </div>
                                <div class="carousel-inner dhslider-wrap">

                                    @if (SD != null)
                                    {
                                        var ids = SD.Select(m => m.id).ToArray();

                                        foreach (var item in SD)
                                        {
                                            var i = Array.IndexOf(ids, item.id);


                                            <div class="item slider-item @(i == 0 ? "active" : "") ">

                                                <a href="@(item.img[0])" data-rel="magnific-popup" title="">

                                                    <div class="slide-bg " style="background-image:url(@(item.img[0]));"></div>
                                                    <div class="slider-overlay"></div>
                                                    <div class="slider-caption caption-align-center" style="top: 30%;">
                                                        <div class="slider-caption-wrap parallax-content">
                                                            <h2 class="slider-heading-text text-center" style="color: white;">
                                                                @(item.title)
                                                            </h2>
                                                             @*<div class="slider-caption-text text-center" style="color: white;">
                                                                @(item.info)
                                                            </div> @*
                                                            @*<div class="slider-buttons text-center">
                                                                    <a href="@(Url.Action("FD", "Home"))" class="btn btinput2 btn-style-round">
                                                                        立即體驗
                                                                    </a>
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>



                                        }
                                    }


                                </div>
                                @*<ol class="carousel-indicators parallax-content">
                                        <li data-target="#revslider" data-slide-to="0" class="active"></li>
                                        <li data-target="#revslider" data-slide-to="1"></li>
                                    </ol>
                                    <a class="left carousel-control" href="#revslider" data-slide="prev">
                                        <i class="fa fa-angle-left carousel-icon-prev"></i>
                                    </a>
                                    <a class="right carousel-control" href="#revslider" data-slide="next">
                                        <i class="fa fa-angle-right carousel-icon-next"></i>
                                    </a>*@
                            </div>
                        </div>
                    </div>


                    @*頂級精品私人會館環境*@
                    @*<div class="row section-team">
                            <div class="column col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="column col-md-12">
                                            <h2 class="text-center">頂級精品私人會館環境</h2>
                                            <div class="text-block text-center">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-full">
                                    <div class="col-md-12 main-wrap">
                                        <div class="main-content ">


                                            <div class="single-product-images">

                                                <div class="caroufredsel product-images-slider" data-speed="3000" data-visible="1" data-responsive="1" data-infinite="1" data-autoplay="1">

                                                    <div class="caroufredsel-wrap">
                                                        <ul class="caroufredsel-items">

                                                            @if (SD != null)
                                                            {
                                                                foreach (var item in SD)
                                                                {

                                                                    <li class="caroufredsel-item">


                                                                        <div class="boutext">
                                                                            <h3>@(item.title)</h3>

                                                                            <div style="width:400px;">
                                                                                @(Html.Raw(item.info))
                                                                            </div>
                                                                        </div>


                                                                        <a href="@(item.img[0])" data-rel="magnific-popup" title="">



                                                                            <img src="@(item.img[0])" alt="" title="" />
                                                                        </a>
                                                                    </li>
                                                                }
                                                            }

                                                        </ul>

                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>*@

                    <div class="row section-about">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2 class="text-center">位置資訊</h2>
                                        <div class="text-block text-center">
                                            <p class="index-p">
                                                台北市106大安區
                                                忠孝東路四段151 號 3-9樓
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-4 col-sm-6" data-fade="1" data-fade-animation="in">
                                        <div id="map" class="single-image image-right">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.775195118464!2d121.54760441540886!3d25.04170208396876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abc56b34dfc9%3A0x40deb0fb11d006a7!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5b-g5a2d5p2x6Lev5Zub5q61MTUx6JmfOQ!5e0!3m2!1szh-TW!2stw!4v1571329126044!5m2!1szh-TW!2stw" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                    <div class="column col-md-8 col-sm-6" data-fade="1" data-fade-animation="in">

                                        <div class="text-block">
                                            <iframe src="https://www.google.com/maps/embed?pb=!4v1570936440955!6m8!1m7!1sCAoSLEFGMVFpcE5lMXU1NktNZW9EZU85RGZpUkJvTGZ1aE1WUEdUOFQtQ2ZKUmtH!2m2!1d25.041849315238!2d121.54987686141!3f245.5!4f-0.14000000000000057!5f0.5970117501821992" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row section-contact-info">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-3 col-sm-4">
                                        <div class="raw-html">
                                            <div class="footer-contact-icon">
                                                <a href="mailto:@(Sys.mail)">
                                                    <div style="height:40px">
                                                        <img src="~/images/yoga_icon/icon-1.png" style="width:40px" />
                                                    </div>
                                                    @*<span class="footer-contact-icon-link">Yoga Edition 瑜珈館</span>*@
                                                    <span class="footer-contact-icon-text">選擇你的興趣課程</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column col-md-3 col-sm-4">
                                        <div class="raw-html">
                                            <div class="footer-contact-icon">
                                                <a href="#">
                                                    <div style="height:40px">
                                                        <img src="~/images/yoga_icon/icon-2.png" style="width:40px" />
                                                    </div>
                                                    @*<span class="footer-contact-icon-link">Yoga Edition 瑜珈館</span>*@
                                                    <span class="footer-contact-icon-text">填寫你的聯絡資料</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column col-md-3 col-sm-4">
                                        <div class="raw-html">
                                            <div class="footer-contact-icon">
                                                <a href="#">
                                                    <div style="height:40px">
                                                        <img src="~/images/yoga_icon/icon-3.png" style="width:40px" />
                                                    </div>
                                                    @*<span class="footer-contact-icon-link">Yoga Edition 瑜珈館</span>*@
                                                    <span class="footer-contact-icon-text">專屬人員服務</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column col-md-3 col-sm-4">
                                        <div class="raw-html">
                                            <div class="footer-contact-icon">
                                                <a href="javascript:void(0)">
                                                    <div style="height:40px">
                                                        <img src="~/images/yoga_icon/icon-4.png" style="width:40px" />
                                                    </div>
                                                    @*<span class="footer-contact-icon-link">Yoga Edition 瑜珈館</span>*@
                                                    <span class="footer-contact-icon-text">展開你的瑜珈旅程</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-image-bg row-image-bg-2"></div>
                    </div>


                    <div class="row">
                        <div class="column col-md-12">
                            <div class="container-full">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <div data-autorun="yes" data-duration="10000" class="carousel slide fade dhslider dhslider-custom " data-height="850">
                                            <div class="dhslider-loader">
                                                <div class="fade-loading">
                                                    <i></i><i></i><i></i><i></i>
                                                </div>
                                            </div>
                                            <div class="carousel-inner dhslider-wrap">
                                                <div class="item slider-item active">
                                                    <div class="slide-bg " style="background-image:url(images/services/free01.png);"></div>
                                                    <div class="slider-overlay"></div>
                                                    <div class="slider-caption caption-align-right" style="text-align:right;">
                                                        <div class="slider-caption-wrap parallax-content">
                                                            <h2 class="slider-heading-text">即刻加入，免費體驗!!</h2>

                                                            <div class="top_50">
                                                                <a href="@(Url.Action("Contact", "Home"))" class="btn btinput3 btn-style-round top_50">
                                                                    立即預約體驗
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    @*<div class="row  bg-image">
                            <div class="column col-md-12 bgb" style="background-image:url(/images/bg2.jpg);">
                                <div class="container">
                                    <div class="row">
                                        <div class="column col-md-6 col-sm-6" data-fade="1" data-fade-animation="in">
                                            <div class="single-image image-center" style="width:569px;height:445px">
                                            </div>
                                        </div>
                                        <div class="column col-md-6 col-sm-6" data-fade="1" data-fade-animation="in" style="text-align:right">
                                            <div class="empty-space-50"></div>
                                            <div class="text-block">
                                                <h2>即刻加入，免費體驗!!</h2>
                                            </div>
                                            <div class="empty-space-20"></div>
                                            <button class="btn btn-custom-color btn-custom-color-white btn-align-left" data-hover-background-color="#1f1f1f" data-hover-border-color="" data-hover-color="#ffffff" type="button">
                                                <span>立即預約體驗</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-image-bg"></div>
                        </div>*@


                </div>

            </div>
        </div>
    </div>
</div>

<div class="footer-widget">
    <div class="container">
        <div class="footer-widget-wrap">
            <div class="row text-center ">
                <div class="footer-widget-col col-md-6 col-sm-6">
                    <div class="widget widget_text">
                        <div class="textwidget text-center">
                            <p>
                                <img src="~/images/banner/logo.png" alt="" />

                            </p>

                            <div class="copyright">@(Sys.copyright)</div>

                        </div>
                    </div>
                    <div class="widget social-widget">
                        <div class="social-widget-wrap social-widget-outlined">
                            <a href="@(Sys.fb)" title="Facebook" target="_blank">
                                <img src="/images/fb_black.png" />
                            </a>

                            <a href="@(Sys.ig)" title="Instagram" target="_blank">
                                <img src="/images/ig_black.png" />
                            </a>

                        </div>
                    </div>
                </div>

                <div class="footer-widget-col col-md-6 col-sm-6">
                    <div class="widget">

                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0"></script>

                        <div class="fb-page" data-href="https://www.facebook.com/YOGAEDITION.taiwan/" data-tabs="timeline" data-width="560" data-height="460" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/YOGAEDITION.taiwan/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/YOGAEDITION.taiwan/">YOGA Edition</a></blockquote></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




