
@{
    var Sys = (Models.sys_data)ViewData["Sys"];

    var Adv = (List<Models.adv_data>)ViewData["Adv"];
    var News = (List<Models.news_data>)ViewData["News"];
    var Course = (List<Models.course_data>)ViewData["Course"]; //課程
    var Author = (List<Models.author_data>)ViewData["Author"]; //師資
    var FD = (List<Models.adv_data>)ViewData["FD"]; //4D
    var SD = (List<Models.adv_data>)ViewData["SD"]; //環境
}

<style>
    .yaimg:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-color: black;
        opacity: 0.2;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    .footer-contact-icon-text {
        line-height: 80px;
    }
</style>


<style>
    .zzzzzz:after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-color: white;
        opacity: 0.4;
        z-index: 1;
        width: 100%;
        height: 100%;
    }


    .aaa {
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        /*background-image: url("/Content/images//adv/2019111900401903159.jpg");*/
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
    }
</style>

<div class="content-container no-padding">
    <div class="container-full" style="width:100%">

        <div class="row">
            <div class="col-md-12 main-wrap">
                <div class="main-content">

                    <!--siler-->
                    <div class="row">
                        <div id="index_revslider" style="opacity: 0;">

                            @if (Adv != null)
                            {
                                foreach (var item in Adv)
                                {
                                    <div class="bgImg slider" style="background-image:url(@(item.img[0]))">
                                        <div class="sliderContent hasAni">

                                            @switch (item.group_id)
                                            {
                                                case 4: //Logo
                                                    <img alt="" src="~/images/banner_Logo.png" />
                                                    break;
                                            }

                                            @{ var B = (item.title ?? "").Split(new string[] { "\n" }, StringSplitOptions.None); }
                                            @foreach (var item2 in B)
                                            {
                                                <h2 class="f32">@(item2)</h2>
                                            }

                                            <a href="@(item.url)" class="btn btinput3 btn-style-round">
                                                立即體驗
                                            </a>
                                        </div>
                                    </div>
                                }
                            }


                            @*<div class="bgImg slider" style="background-image:url(/images/2019121000531431231.png)">
                                    <div class="sliderContent hasAni">
                                        <img alt="" src="/images/banner_Logo.png" />
                                        <h2 class="f32">透過瑜珈喚醒療癒自己2</h2>
                                        <h2 class="f32">享受與身體對話的快樂2</h2>
                                        <a href="http://www.truespa.com.tw/Home/Contact" class="btn btinput3 btn-style-round">
                                            立即體驗
                                        </a>
                                    </div>
                                </div>*@
                        </div>

                    </div>

                    @*最新消息*@
                    <div class="container">
                        <div class="row">
                            <div class="column col-md-12 text-center">
                                <h2>最新消息</h2>
                                <div class="text-block">
                                    <p class="index-p">
                                        NEWS
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row section-background-bottom1 section-welcome">
                        <div class="column col-md-12">

                            <div class="container">
                                <div class="row row-custom-padding welcome-items">

                                    @if (News != null)
                                    {
                                        foreach (var item in News)
                                        {
                                            <div class="column col-md-4 col-sm-4" data-fade="1" data-fade-animation="in">
                                                <a href="@(item.URL)">
                                                    <div class="single-image image-center">
                                                        <img class="bgImg" src="/images/frame/4x3.png" style="background-image: url(@(item.img[0])" alt="service-1" />
                                                        <div class="overlay"><font>READ MORE</font></div>
                                                    </div>
                                                    <div class="box box-custom-margin-padding">
                                                        <p>
                                                            @(item.Group.title)
                                                        </p>
                                                        <h4>@(item.title)</h4>
                                                        <div class="text-block text-right">

                                                            <p class="date">
                                                                @(NW.getDate(item.start_date, "MM/dd/yyyy"))
                                                            </p>

                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12 text-center">
                                        <div class="text-block">
                                            <p>
                                                <button class="btn btinput btn-style-round " type="button" onclick="window.location.href='@(Url.Action("List", "News"))'">
                                                    <span>MORE</span>
                                                </button>
                                            </p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    @*4F瑜珈*@
                    <div class="row">
                        <div id="for4D">
                            <div class="slider bgImg" style="background-image:url(/images/4d/01.jpg);">
                                <div class="sliderContent">
                                    <h2 class="f40" style="color: white;">
                                        4D 情境式瑜珈
                                    </h2>
                                    <div class="f32" style="color: white;">
                                        全台唯一的4D情境式瑜珈設<br />
                                        備，啟發五感， 探索身心靈
                                    </div>
                                    <div class="slider-buttons text-center">
                                        <a href="@(Url.Action("FD", "Home"))" class="btn btinput3 btn-style-round">
                                            立即體驗
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <a href="@(Url.Action("Course", "Home"))">
                        <div class="row section-newsletters yaimg t_center" style="background-image:url(/images/class/pg01.jpg);background-position: center top;">

                            <div class="container W1200 pb20">
                                <div class="row">
                                    <div class="column col-md-12 text-left">
                                        <div class="">
                                            <span class="h2" style="font-weight:normal;color:#C1B4A3">多樣化的</span>
                                            <span class="h2" style="font-weight:normal;color:#FDFDF6">課程選擇</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container W1200 pc">
                                <img src="images/class/class_table.png" alt="">
                            </div>

                            @*phone*@
                            <div class="container mb">


                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">Hot Yoga</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">Hot Flow</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">Hot Gental</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">Warm Stretch</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">哈達瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">流暢瑜珈</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">火箭瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">正位瑜珈</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">太極瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">核心瑜珈</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">和緩瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">艾揚格瑜珈</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">阿斯坦加瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">瑜珈雕塑</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">身心靈平衡</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">陰瑜珈</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 text-yago">修復瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">瑜珈輪</div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-xs-6 col-sm-3 text-yago">空中瑜珈</div>
                                    <div class="col-xs-6 col-sm-3 text-yago">壁繩瑜珈</div>
                                </div>

                            </div>
                        </div>
                    </a>

                    <div class="row section-team">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2 class="text-center">課程介紹</h2>
                                        <div class="text-block text-center">
                                            <p class="index-p">
                                                PROGRAMS
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-md-12 main-wrap">
                                    <div class="main-content ">
                                        <div class="caroufredsel " data-scroll-fx="scroll" data-speed="3000" data-easing="swing" data-scroll-item="1" data-visible-min="1" data-visible-max="@(Course.Count())" data-responsive="1" data-infinite="1" data-autoplay="1">
                                            <div class="caroufredsel-wrap">
                                                <ul class="caroufredsel-items row three_img_slide">

                                                    @if (Course != null)
                                                    {
                                                        foreach (var item in Course)
                                                        {
                                                            <li class="slider">
                                                                <a href="@(item.URL)">
                                                                    <div class="team-member1 team-member-below">
                                                                        <div class="member-avatar">
                                                                            <img class="img-circle" src="@(item.img[0])" width="150" height="150" alt="team-member-3" />
                                                                            <div class="overlay"><font>@(item.title)</font></div>
                                                                        </div>
                                                                        <div class="class-name">
                                                                            <h4>@(item.title)</h4>
                                                                        </div>

                                                                    </div>
                                                                </a>

                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12 text-center">
                                        <div class="text-block">
                                            <p>
                                                <button class="btn btinput btn-style-round " type="button" onclick="window.location.href='@(Url.Action("List", "Course"))'">
                                                    <span>MORE</span>
                                                </button>
                                            </p>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row section-team">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2 class="text-center">師資團隊</h2>
                                        <div class="text-block text-center">
                                            <p class="index-p">
                                                OUR INSTRUCTORS
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="col-md-12 main-wrap">
                                    <div class="main-content ">
                                        <div class="caroufredsel " data-scroll-fx="scroll" data-speed="3000" data-easing="swing" data-scroll-item="1" data-visible-min="1" data-visible-max="@(Author.Count())" data-responsive="1" data-infinite="1" data-autoplay="1">

                                            <div class="caroufredsel-wrap">
                                                <ul class="caroufredsel-items row four_img_slide">

                                                    @if (Author != null)
                                                    {
                                                        foreach (var item in Author)
                                                        {
                                                            <li class="slider">
                                                                <a href="@(item.URL)">
                                                                    <div class="team-member team-member-below">
                                                                        <div class="member-avatar">
                                                                            <img src="@(item.img[0])" width="150" height="150" alt="@(item.title)" />
                                                                            <div class="overlay"><font>READ MORE</font></div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="class-name">
                                                                        <h4>@(item.title)</h4>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        }
                                                    }

                                                </ul>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12 text-center">
                                        <div class="text-block">
                                            <p>
                                                <button class="btn btinput btn-style-round" type="button" onclick="window.location.href='@(Url.Action("List", "Author"))'">
                                                    <span>MORE</span>
                                                </button>
                                            </p>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="column col-md-12">

                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2 class="text-center">會館環境</h2>
                                        <div class="text-block text-center">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="env">
                                @if (SD != null)
                                {
                                    var ids = SD.Select(m => m.id).ToArray();

                                    foreach (var item in SD)
                                    {
                                        var i = Array.IndexOf(ids, item.id);
                                        <div class="bgImg slider @(i == 0 ? "active" : "")" style="background-image:url(@(item.img[0]));">

                                            <a href="@(item.img[0])" data-rel="magnific-popup" title="">
                                                <div class="sliderContent hasAni">
                                                    @Html.Raw(item.info)
                                                </div>
                                            </a>
                                        </div>

                                    }
                                }

                            </div>
                        </div>
                    </div>

                    <div class="row section-about">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <h2 class="text-center">位置資訊</h2>
                                        <div class="text-block text-center">
                                            <p class="index-p">
                                                台北市106大安區
                                                忠孝東路四段151 號 3-9樓
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-4 col-sm-6" data-fade="1" data-fade-animation="in">
                                        <div id="map" class="single-image image-right">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.775195118464!2d121.54760441540886!3d25.04170208396876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abc56b34dfc9%3A0x40deb0fb11d006a7!2zMTA25Y-w5YyX5biC5aSn5a6J5Y2A5b-g5a2d5p2x6Lev5Zub5q61MTUx6JmfOQ!5e0!3m2!1szh-TW!2stw!4v1571329126044!5m2!1szh-TW!2stw" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                        </div>
                                    </div>
                                    <div class="column col-md-8 col-sm-6" data-fade="1" data-fade-animation="in">

                                        <div class="text-block">
                                            <iframe src="https://www.google.com/maps/embed?pb=!4v1570936440955!6m8!1m7!1sCAoSLEFGMVFpcE5lMXU1NktNZW9EZU85RGZpUkJvTGZ1aE1WUEdUOFQtQ2ZKUmtH!2m2!1d25.041849315238!2d121.54987686141!3f245.5!4f-0.14000000000000057!5f0.5970117501821992" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row section-contact-info">
                        <div class="column col-md-12">
                            <div class="container">
                                <div class="row">
                                    <div class="column col-md-3 col-sm-4">
                                        <div class="raw-html">
                                            <div class="footer-contact-icon">
                                                <div class="icon_wrap">
                                                    <img src="~/images/yoga_icon/icon-1.png" />
                                                </div>
                                                @*<span class="footer-contact-icon-link">Yoga Edition 瑜珈館</span>*@
                                                <span class="footer-contact-icon-text">選擇你的興趣課程</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column col-md-3 col-sm-4">
                                        <div class="raw-html">
                                            <div class="footer-contact-icon">
                                                <div class="icon_wrap">
                                                    <img src="~/images/yoga_icon/icon-2.png" />
                                                </div>
                                                @*<span class="footer-contact-icon-link">Yoga Edition 瑜珈館</span>*@
                                                <span class="footer-contact-icon-text">填寫你的聯絡資料</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column col-md-3 col-sm-4">
                                        <div class="raw-html">
                                            <div class="footer-contact-icon">
                                                <div class="icon_wrap">
                                                    <img src="~/images/yoga_icon/icon-3.png" />
                                                </div>
                                                @*<span class="footer-contact-icon-link">Yoga Edition 瑜珈館</span>*@
                                                <span class="footer-contact-icon-text">專屬人員服務</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column col-md-3 col-sm-4">
                                        <div class="raw-html">
                                            <div class="footer-contact-icon">
                                                <div class="icon_wrap">
                                                    <img src="~/images/yoga_icon/icon-4.png" />
                                                </div>
                                                @*<span class="footer-contact-icon-link">Yoga Edition 瑜珈館</span>*@
                                                <span class="footer-contact-icon-text">展開你的瑜珈旅程</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-image-bg row-image-bg-2"></div>
                    </div>


                    <div class="row">
                        <div class="column col-md-12">
                            <div class="container-full">
                                <div class="row">
                                    <div class="column col-md-12">
                                        <div data-autorun="yes" data-duration="10000" class="carousel slide fade dhslider dhslider-custom " data-height="850">
                                            <div class="dhslider-loader">
                                                <div class="fade-loading">
                                                    <i></i><i></i><i></i><i></i>
                                                </div>
                                            </div>
                                            <div class="carousel-inner dhslider-wrap">
                                                <div class="item slider-item active">
                                                    <div class="slide-bg " style="background-image:url(images/services/free01.png);"></div>
                                                    <div class="slider-overlay"></div>
                                                    <div class="slider-caption caption-align-right" style="text-align:right;">
                                                        <div class="slider-caption-wrap parallax-content">
                                                            <h2 class="slider-heading-text">即刻加入，免費體驗!!</h2>

                                                            <div class="top_50">
                                                                <a href="@(Url.Action("Contact", "Home"))" class="btn btinput3 btn-style-round top_50">
                                                                    立即預約體驗
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<div class="footer-widget">
    <div class="container">
        <div class="footer-widget-wrap">
            <div class="row text-center ">
                <div class="footer-widget-col col-md-6 col-sm-6">
                    <div class="widget widget_text">
                        <div class="textwidget text-center">
                            <p>
                                <img src="~/images/banner/logo.png" alt="" />

                            </p>

                            <div class="copyright">@(Sys.copyright)</div>
                            <div class="copyright">@(Sys.address)</div>
                            <div class="copyright">@(Sys.tel)</div>


                        </div>
                    </div>
                    <div class="widget social-widget">
                        <div class="social-widget-wrap social-widget-outlined">
                            <a href="https://www.youtube.com/channel/UCMHQOy5C_q09fzkjLxy2OzA" title="Youtube" " target="_blank">
                                <img src="/images/youtube_black.png" />
                            </a>
                            <a href="@(Sys.fb)" title="Facebook" target="_blank">
                                <img src="/images/fb_black.png" />
                            </a>

                            <a href="@(Sys.ig)" title="Instagram" target="_blank">
                                <img src="/images/ig_black.png" />
                            </a>

                        </div>
                    </div>
                </div>

                <div class="footer-widget-col col-md-6 col-sm-6">
                    <div class="widget">

                        <div id="fb-root"></div>
                        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v4.0"></script>

                        <div class="fb-page" data-href="https://www.facebook.com/YOGAEDITION.taiwan/" data-tabs="timeline" data-width="560" data-height="460" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/YOGAEDITION.taiwan/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/YOGAEDITION.taiwan/">YOGA Edition</a></blockquote></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="/js/libs/slick.js" type="text/javascript" charset="utf-8"></script>


<script type="text/javascript">
    $(function () {
        let loaded = false;

        // 異步載入
        setTimeout(function () {
            $('#index_revslider, #env').slick({
                slidesToShow: 1,
                infinite: true,
                speed: 500,
                fade: true,
                // cssEase: 'linear',
                autoplay: true,
                autoplaySpeed: 5000,
            });

            // kv banner 第一次載入
            $('#index_revslider').find('.slick-current .hasAni').addClass('first').find('>*').css({ opacity: 0 });
            $('#index_revslider').animate({ opacity: 1 }, 200, function () {
                $(this).find('.slick-current .hasAni').removeClass('first').find('*').css({ opacity: 1 });
            });

            $('.three_img_slide').slick({
                slidesToShow: 1,
                infinite: true,
                speed: 500,
                slidesToShow: 3,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                        }
                    },
                    {
                        breakpoint: 599,
                        settings: {
                            slidesToShow: 1,
                        }
                    }
                ]
            });

            $('.four_img_slide').slick({
                slidesToShow: 1,
                infinite: true,
                speed: 500,
                slidesToShow: 4,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 4000,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 3,
                        }
                    },
                    {
                        breakpoint: 599,
                        settings: {
                            slidesToShow: 2,
                        }
                    }
                ]
            });


        }, 2000)





    });   /*ready*/
</script>

